*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center; 
    flex-direction: column;
   background:linear-gradient(rgb(237, 170, 181),white,rgb(232, 161, 173),white);
  
}



#container{
    width: 450px;
    height: 450px;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}
#guessbox{
    width:50px;
    height: 50px;
    border: 3px solid;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bolder;
    font-size: xx-large;
}

#submit{
        width: 100px;
        height: 50px;
        border: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        border-radius: 10px;
        background-color:crimson;
        font-weight: bold;
        color: whitesmoke;
}

#score{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: whitesmoke;
    background-color:crimson;
}
h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 75px;
    margin-bottom: 3rem;
    
    
}
#num{
    width: 200px;
    height: 50px;
    font-size: xx-large;
}
#hint{
    width: 200px;
    height: 40px;
    border: 3px solid;
    margin-top: 1rem;
    background-color: whitesmoke;
    border-radius: 20px 5px 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
